{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-4 text-center">
		<div class="mr-4 ml-4">
			<div class="row">
				<h1>Astro Pic of the Day</h1>
			</div>
			<div class="row">
				<div hx-get="{% url 'pictureoftheday' %}" hx-trigger="load" hx-target="#picoftheday">
					<div id="picoftheday">pic of the day loading!</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-8 text-center">
	  <div class="row">
	  	<div class="col">
	  		<h1>Current Collection</h1>
	  	</div>
	  	<div class="col">
	  		<button
	  		  type="button"
	  			hx-get="/pics?order_by=recency"
	  			hx-target="#picture-table-body"
	  			hx-trigger="click, load"
	  		>
	  	  	Sort Collection by Recency
	  		</button>
	  	</div>
	  </div>
	  <div class="row">
	  	<table class="table table-hover table-responsive-lg">
	    	<thead>
	    	  <tr>
	    	    <th scope="col">Thumb</th>
	    	    <th scope="col">
	    	      <button
	    	        hx-get="/pics?order_by=name"
	    	        hx-target="#picture-table-body"
	    	        hx-trigger="click"
	    	      >
	    	      Name
	    	      </button>
	    	    </th>
	    	    <th scope="col">
	    	      <button
	    	        hx-get="/pics?order_by=width"
	    	        hx-target="#picture-table-body"
	    	        hx-trigger="click"
	    	      >
	    	      Width
	    	      </button>
	    	    </th>
	    	    <th scope="col">
	    	      <button
	    	        hx-get="/pics?order_by=height"
	    	        hx-target="#picture-table-body"
	    	        hx-trigger="click"
	    	      >
	    	      Height
	    	      </button>
	    	    </th>
	    	  </tr>
	    	</thead>
				{% block picture-list %}
				<tbody id="picture-table-body">
				{% include "pics/picture_list.html" %}
			  </tbody>
				{% endblock%}
		</div>
	</div>
</div>
{% endblock %}
