{% block picture-list %}
{% for picture in pictures %}
  <tr>
    <td>
      <a href="{{ picture.img.url }}">
        <img

          src="{{ picture.thumb.url }}"
          alt="{{ picture.name }}"
        >
      </a>
    </td>
    <td>{{ picture.name }}</td>
    <td>{{ picture.img_width }}</td>
    <td>{{ picture.img_height }}</td>
  </tr>
{% endfor %}
{% if next_page %}
  <tr hx-get="/pics?page={{ next_page }}"
      hx-trigger="intersect once"
      hx-swap="afterend">
  </tr>
{% endif %}
{% endblock %}
